body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

.main-page {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.authentication-dialog {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}


.hint-text {
    text-align: center;
    color: gray;
    margin-bottom: 2.5px;
}

.centered-half-width {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hint-button {
    padding: 10px;
    color: gray;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.hint-button:hover {
    background-color: rgba(0,0,0,0.1);
}